<div style="position:fixed; data-role="view" data-title="View" data-layout="main-nonav" data-model="app.olvidasteView" data-show="app.olvidasteView.onShow" data-after-show="app.olvidasteView.afterShow" id="olvidasteViewScreen" class="screen">
    <header data-role="header" style="display:none;">
        <div data-role="navbar" class="header-text" style="background-image:linear-gradient(to right, #f6a426 0%, #ff8a00 100%);">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_olvidasteView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <div class="grid insideGrid">

            <div class="row headerView">
                <div class="col-xs-2 tal">
                    <a href="javascript:goto('components/loginView/view.html')"><img class="back2" src="images/icons/replyG.png" /></a>
                </div>
                <div class="col-xs-10 tac">
                    <img class="logoStGeorgeMenu" src="images/logos/Logo_color.png" alt="Logo St. George"/>
                </div>
            </div>

            <div style="margin-top:0px;">
                <div class="col-xs-12 tawc" style="border:1px solid #b1b1b1;padding:10px 0px;">
                    <h2 class="nombreSeleccion">Reestablecer contraseña</h2>
                </div>
                <div class="col-xs-12 tal" style="margin-top:20px;">
                    <h1 class="fecha" style="color:#006838;">Nueva contraseña</h1>
                    <input type="text" placeholder="" class="inputContacto" style="color: #afafaf;padding:5px 15px;"/>
                </div>
                <div class="col-xs-12 tal" style="margin-top:20px;">
                    <h1 class="fecha" style="color:#006838;">Confirmar contraseña</h1>
                    <input type="text" placeholder="" class="inputContacto" style="color: #afafaf;padding:5px 15px;"/>
                </div>
                <div class="col-xs-12 tal" style="margin-top:20px;">
                    <h1 class="fecha" style="color:#006838;">Duración</h1>
                </div>
                <div class="col-xs-12 tac" style="margin-top:10px;">
                    <div class="col-xs-4 tac">
                        <input type="radio" name="duracion" />
                        <h1 class="fecha" style="color:#006838;">30d</h1>
                    </div>
                    <div class="col-xs-4 tac">
                        <input type="radio" name="duracion" />
                        <h1 class="fecha" style="color:#006838;">60d</h1>
                    </div>
                    <div class="col-xs-4 tac">
                        <input type="radio" name="duracion" />
                        <h1 class="fecha" style="color:#006838;">90d</h1>
                    </div>
                </div>
                <div class="col-xs-12 tac" style="margin-top:25px;">
                    <input class="botones" type="button" id="commonBtn" onclick="reestablecer();" value="REESTABLECER" style="padding:5px 20px;">
                </div>
            </div>

        </div>
    <!-- END_CUSTOM_CODE_olvidasteView -->
</div>