<div style="position:fixed;overflow-x:hidden;" data-role="view" data-title="View" data-layout="main-nonav" data-model="app.menuView" data-show="app.menuView.onShow" data-after-show="app.menuView.afterShow" id="menuViewScreen" class="screen">
    <header data-role="header" style="display:none;">
        <div data-role="navbar" class="header-text insideHeader" style="background-image:linear-gradient(to right, rgb(246, 163, 38) 0%, rgb(246, 163, 38) 100%);">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button" onclick="overlayMenu('homeScreen');"></a>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_menuView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <div class="grid insideGrid" id="menuGrid" style="">

            <div class="row headerView" style="border-bottom:1px solid #b1b1b1;">
                <div class="col-xs-2 tal">
                    <a data-role="button" href="#appDrawer" on-tap="menuP();" onclick="" data-rel="drawer" data-align="left" data-icon="drawer-button">
                        <img class="menuHamburgesa" src="images/menu/icono_hamburguesa.png" width="30" height="30" alt="" />
                    </a>
                </div>
                <div class="col-xs-10 tac">
                    <img class="logoStGeorgeMenu" src="images/logos/Logo_color.png" alt="Logo St. George"/>
                </div>
            </div>
            
            <div class="col-xs-12 tac" style="margin-top:20px;">
                <h2 class="nombreCliente">Rafael López Pérez</h2>
                <h3>
                    <span style="color:#4e4e4e;font-weight:bold;">Último ingreso :</span>
                    <span style="color:#006838;"> 5 febrero 2018  1:30pm</span>
                </h3>
            </div>

            <div id="menuPrincipal" style="display:none;margin-top:80px;">
                <div class="row iconsMenu">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-5 tac">
                        <img src="images/menu/icono_cuenta.png" class="imageMenu1" id="cuentasMenu" onclick="selectMenu('components/cuentasView/view.html',this);"/>
                    </div>
                    <div class="col-xs-5 tac">
                        <img src="images/menu/icono_tarjeta.png" class="imageMenu1" id="tarjetasMenu" onclick="selectMenu('components/tarjetasView/view.html',this);"/>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row iconsMenu" style="margin-top:10px;">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-5 tac">
                        <span class="textMenu">Cuentas</span>
                    </div>
                    <div class="col-xs-5 tac">
                        <span class="textMenu">Tarjetas</span>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row iconsMenu" style="margin-top:10px;">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-5 tac">
                        <img src="images/menu/icono_pagar.png" class="imageMenu1" id="cuentasMenu" onclick="selectMenu('components/pagosView/view.html',this);"/>
                    </div>
                    <div class="col-xs-5 tac">
                        <img src="images/menu/icono_transferir.png" class="imageMenu1" id="tarjetasMenu" onclick="selectMenu('components/transferenciasView/view.html',this);"/>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row iconsMenu" style="margin-top:10px;">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-5 tac">
                        <span class="textMenu">Pagos</span>
                    </div>
                    <div class="col-xs-5 tac">
                        <span class="textMenu">Transferencias</span>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row iconsMenu" style="margin-top:10px;">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-5 tac">
                        <img src="images/menu/icono_solicitarprestamo.png" class="imageMenu1" id="pagosMenu" onclick="selectMenu('components/prestamoView/view.html',this);"/>
                    </div>
                    <div class="col-xs-5 tac">
                        <img src="images/icons/icono_sucursales.png" class="imageMenu1" id="transferenciasMenu" onclick="selectMenu('components/sucursalesView/view.html',this);"/>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row iconsMenu" style="margin-top:10px;">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-5 tac">
                        <span class="textMenu">Prestamos</span>
                    </div>
                    <div class="col-xs-5 tac">
                        <span class="textMenu">Sucursales</span>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="col-xs-12 tac botonIngresar" id="footerMenuPrincipal" style="display:none;height:30px;bottom:20px;">
                    <span style="font-weight:bold;">St. Georges Bank. Derechos reservados.</span>
                </div>
            </div>
        </div>
    <!-- END_CUSTOM_CODE_menuView -->
</div>