

<div style="position:fixed;" data-role="view" data-title="View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="homeScreen" class="screen">
    <header data-role="header" style="display:none;">
        <div data-role="navbar" class="header-text" style="background-image:linear-gradient(to right, #f6a426 0%, #ff8a00 100%);">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <div class="grid insideGrid" id="homeGrid">
            <!--<iframe id="video-background" src="images/bg.mp4" frameborder="0" allowfullscreen style="width:1px;height:1px;"></iframe>-->
            <!--<div class="col-xs-12 tac"><img class="logoStGeorge" src="images/logos/Logo_color.png" atl="Logo St. George"/></div>-->

            <div class="row" style="top:20px;left:0px;position:absolute;z-index:100;">
                <div class="col-xs-12 tal">
                    <a data-role="button" href="#appDrawer" onclick="menuL();" data-rel="drawer" data-align="left" data-icon="drawer-button" style="background-color: rgba(0,0,0,0);">
                        <img class="menuHamburgesa" src="images/menu/icono_hamburguesa.png" width="30" height="30" alt="" />
                    </a>
                </div>
            </div>

            <video autoplay id="video-background"> 
                <source src=images/bgOscuro.mp4 type=video/mp4>
                <!--<source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>-->
            </video>

            <div class="col-xs-12 tac" id="formUser" style="display:none;">
                <img class="user" src="images/login/profile.png" width="128" height="128"/>
                <input type="text" id="usuario" name="usuario" value="" placeholder="Usuario">
            </div>
        </div>
        <a href="javascript:goto('components/loginView/view.html');" id="botonIngresar" style="display:none;">
            <div class="botonIngresar">
                <h1>Ingresar</h1>
            </div>
        </a>
    <!-- END_CUSTOM_CODE_home -->
</div>