@charset "utf-8";
/* CSS Document */
*{
	font-family:Calibri, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body{
	background-color: rgba(255,255,255,0.03);
}

#homeGrid{
    height:-webkit-fill-available;
    min-height:670px;
    background-image:linear-gradient(to right, rgb(0,0,0) 0%, rgb(0,0,0) 100%);
    background-color: black;
}

#menuGrid{
    background-color: rgba(255,255,255,0.02);
    margin-top: -20px;
    padding-top: 20px;
}

.iconsMenu{
    background-color: white;
}

#cuentaGrid{
    background-color: rgba(255,255,255,0.1);
    margin-top: -20px;
    padding-top: 20px;
}

.logoStGeorge{
	width:70%;
	height: auto;
	margin-top: 10%;
}

.menuHamburgesa:hover{
    -webkit-filter: brightness(120%); /* Safari */
    filter: brightness(120%);
}

.km-button{
    border:none !important;
}

#usuario{
	background-color:transparent;
	border-bottom: solid #fff 3px;
	width: 75%;
	color: white;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	margin-top: 60%;
    margin-left: 10px;
    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -ms-input--animation-duration: 7s;
    font-size: 1.5em;
}


 #usuario::placeholder{
	color:rgba(84,90,83,0.82);
}

.user{
	width: 10%;
	height: auto;
}

#botonIngresar{
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-input--animation-duration: 3s;
}

.botonIngresar{
	width: 100%;
	height: 80px;
	/**background-color: #00693E;*/
    background-color: rgba(0, 105, 62, 0.95);
	position: absolute; 
	bottom:0px;
    font-display: center;
}

.botonIngresar h1{
	text-align: center;
    text-transform:uppercase;
    letter-spacing: 2px;
	color: whitesmoke;
    line-height: 30px;
    font-family: inherit;
    font-size: 1.8em;
    font-weight:bold;
}


/*PERFIL AUTENTICAR*/

.panama{
	background-color: seagreen;
	width: 100%;
	height: 50%;
    background-image: url(../images/bgOscuro.jpg);
    background-size: cover;
}

.panama .back{
	height: auto;
    width: 10%;
    float: right;
    margin-top: 3%;
    margin-right: 5%;
}

.bienvenida{
    margin-bottom:20px;
}

.bienvenida h1{
	font-size: 2em;
	text-align: center;
	color: whitesmoke;
	z-index: 100;
	margin: 0 !important;
	padding-top: 3%;
}


.profile{
	border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
}

.nombre_usuario {
	font-size: 1.2em !important;
	color: whitesmoke !important;
	text-align: center !important;
	
}

.password{
	display: block;

}


.botonPerfil{
	width: 50%;
	height: 3%;
	border: #272323 solid;
	border-radius: 25px;
    padding: 1px 15px;
    color: #333;
}

.botonPerfil:hover{
	color: #888;
}

div{
	display: block;
}


#password{
	background-color:transparent;
	border-bottom: solid #00693E 3px;
	width: 75%;
	color: darkslategray;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}

/*MENU PRINCIPAL*/

.logoStGeorgeMenu{
	width: 100%;
	height: auto;
	margin-top: 5%;
}

.nombreCliente{
	font-size: 1.5em !important;
    font-weight:bold !important;
	color: #006838 !important;
	text-align: center !important;
}

.imageMenu{
    background-color: #fff;
    border-radius: 10%;
    padding: 10px;
    width: 90%;
    cursor: pointer;
}

.imageMenu:hover{
    -webkit-filter: brightness(105%); /* Safari */
    filter: brightness(105%);
}

.textMenu{

}

#balance img{
	margin: auto;
	width: 100%;
	height: auto;
}

.menuPrincipal{
	padding: 0 !important;
}

.menuPrincipal li{
	list-style: none;
	width: 80%;
	height: 80%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px 4px lightgray;
	color: #006338;
	margin: auto;
	margin-bottom: 15%; 
	margin-top: 15%;
	padding-bottom: 5%;
}

.menuPrincipal img{
	width: 80%;
	height: auto; 
}

#menuPrincipal{
	width: 100%;
	height: auto; 
	margin: auto;
    margin-top:0px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px 0px;
}

/*MENU TARJETAS*/


.menuTarjetas{
	padding: 0 !important;
}

.menuTarjetas li{
	list-style: none;
	width: 80%;
	height: 50px;
	background-color: rgba(97,191,26,0.70);
	border-radius: 20px;
	box-shadow: 3px 3px 10px 4px lightgray;
	color: white;
	margin: auto;
	margin-bottom: 10%; 
	margin-top: 15%;
}

.menuTarjetas li p{
	padding-top:5%;
	font-size: 1.2em;
}

.menuTarjetas img{
	float: left;
    border-radius: 20px;
    height: auto; 
}

#menuTarjetas{
	width: 100%;
	height: auto; 
	margin: auto;
}


/*DETALLES*/

.detalles{
	width: 100%;
	height: auto; 
}

.detalles img{
	width: 100%;
	height: auto;
	padding-bottom: 5%;
}

.movimientosBancarios{
	width: 90%;
    height: auto;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    background-color: rgba(73,67,68,1.00);
    color: whitesmoke;
    text-align: center;
    align-content: center;
	display: block;
	position: relative;
	box-shadow: 0px 4px 10px 4px lightgray;
	z-index: 2;
}

.tiempos{
	margin-top: 5%;
	font-weight: 300;
	display: inline-block;
    cursor:pointer;
    padding: 2px 15px;
}

.tiempos.active{
	border: solid 1.5px rgba(97,191,26,1);
    border-radius: 20px;
}

.tiempos:hover{
    border: solid 1.5px rgba(97,191,26,1);
    border-radius: 20px;
}

#movimientos{
	font-size: 1.4em;
	margin-top: 15%;
	font-weight: 300;
    color:white;
}

.cuentaRow{
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
}

.detalleTarjetas{
	padding: 0 !important;
}

.detalleTarjetas li{
	list-style: none;
	width: 90%;
	height: 50px;
	background-color: rgba(0,0,0,0.07);
	border-radius: 5px;
	box-shadow: 1px 2px 5px 2px lightgrey;
	margin: auto; 
	margin-top:5%;
    cursor:pointer;
}

.detalleTarjetas li:hover{
    background-color: rgba(97,191,26,0.70);
    color: white;
}

.detalleTarjetas li span{
	line-height: 50px;
	font-size: 1.2em;
    font-weight:bold;
}

.detalleTarjetas img{
	float: left;
    border-radius:5px;
    height: auto; 
}

#detalleTarjetas{
	width: 100%;
	height: auto; 
	margin: auto;
}

.compras{
	width: 90%;
    height: auto;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    padding: 20px 0px;
    background-color: white;
    color: rgba(47,47,47,1.00);
    text-align: center;
    align-content: center;
	display: block;
	font-size: .9em;
	box-shadow: 0px 2px 10px 2px lightgrey;
	z-index:2;
}

.compras p{
    font-size:1.2em;
}

.tiempos p{
	margin: 8% 0%;
}

.selector{
	width: 70%;
    height: 100%;
    position: absolute;
    border: solid 1.5px rgba(97,191,26,1);
    border-radius: 20px;
    margin: auto;
}

#rectanguloUno{
	margin: 0% 10%;
	margin-top: -3%;
	width: 80%;
	height: 200px;
	background-color: rgba(116,187,32,0.36);
}

#rectanguloDos{
	margin: 0% 15%;
    margin-top: -52%;
    z-index: 1;
    width: 70%;
    height: 200px;
    background-color: rgba(116,187,32,0.18);
    position: absolute;
}

#boton_ampliar{
	width: 20%;
    height: 40%;
    background-color: #006338;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    margin-top: 40%;
    margin-left: 36%;
	color:whitesmoke;
	font-size: 3.5em;
	text-align: center;
	box-shadow: 3px 3px 10px 4px lightgray;
    cursor:pointer;
}

#boton_ampliar:hover{
    background-color: #74bb20;
}

/*FORMULARIO TRANSFERENCIA*/

.formulario{
	padding-bottom: 3%;
    border-bottom: thin solid lightgray;
    color: #006338;
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 3%;
}

.formulario:last-child{
	padding-bottom: 3%;
    border-bottom: thin solid transparent;
    color: #006338;
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 3%;
}

.nombreSeleccion{
	background-color: #006838;
    padding: 5px 15px;
    width: fit-content;
    border-radius: 5px;
    color: white !important;
    font-size: 1.4em !important;
    margin-top:10px;
    margin-bottom:15px;
}

.principal img{
	width: 25%;
	height: auto;
	margin: 0% 37.5%;
}

.seleccionCuentas{
	text-align: left;
	font-weight: 200;
}

.alineacion{
	text-align: right;
}

.formulario select{
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.importe{
	text-align: center;
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.importe::placeholder{
	color: dimgray;
	font-style: italic;
	font-size:.8em;
}

.fecha{
	font-size: 1.3em;
	margin-top:0;
}

.fechayhora{
	text-align: center;
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.botones{
	border-radius: 20px;
    border: 2px solid;
    background-color: white;
    font-weight: 600;
}

.recibo{
	width: 80%;
	text-align: center;
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.recibo::placeholder{
	color: dimgray;
	font-style: italic;
	font-size:.8em;
}

.link{
	display: block;
	font-size:.8em;
	margin: 5% 0%;
}

#usuario::-webkit-input-placeholder {
  color: white;
}
#usuario::-moz-placeholder {
  color: white;
}
#usuario:-ms-input-placeholder {
  color: white;
}
#usuario:-moz-placeholder {
  color: white;
}

/*menu hamburguesa*/
.hamburguesaTop{

	width: 100%;
	height: 50%;
}

.hamburguesaTop img:nth-child(1){
	height: auto;
    width: 10%;
    float: right;
    margin-top: 3%;
    margin-right: 5%;
}

.menuH img{
	width: 15% !important;
	height: auto;
	display: inline-block;
}


.menuH h1{
	margin-left: 10% !important;
    font-size: 1.15em;
    color: #006338;
    display: inline-block;
}

.menuH h1:hover{
    color: #7ab63a;
}

.menuH ul{
	list-style: none;
	display: block;
	padding: 0;
}

.menuH li{
    width: 100%;
    height: auto; 
	vertical-align: middle;
    margin: 5% 0%;
}

.menuH{
	width: 95%;
	border-bottom: 2px dashed rgba(0,0,0,0.20);
    padding: 10px 15px;
}

.menuH:last-child{
	border-bottom: transparent solid 2px; 
}

/*FORMULARIO TRANSFERENCIA*/

.formulario{
	padding-bottom: 3% !important;
    border-bottom: thin solid lightgray !important;
    color: #006338 !important;
    margin-top: 3% !important;
    font-size: 1.2em !important;
    font-weight: 300 !important;
    padding-top: 3% !important;
    text-align: center;
}

.formulario p{
    font-size: 1.2em;
    color: #006338;
}

.formulario input{
    vertical-align:middle;
    font-size: 1em;
}

.formulario select{
    font-size: 1em;
}

.formulario h1{
    color: #006338;
}

fieldset{
    border: none; 
    display: inherit; 
}

fieldset label{
    vertical-align: middle;
    font-size: 1em;
}

.formulario:last-child{
	padding-bottom: 3% !important;
    border-bottom: thin solid transparent !important;
    color: #006338 !important;
    margin-top: 3% !important;
    font-size: 1.2em !important;
    font-weight: 300 !important;
    padding-top: 3% !important;
}

/**.nombreSeleccion{
	font-size: 1.7em !important;
    color: #61BF1A !important;
    text-align: center !important;
    margin-top: 8% !important;
    font-weight: 300 !important;
}*/

.principal img{
	width: 25% !important;
	height: auto !important;
	margin: 0% 37.5% !important;
}

.seleccionCuentas{
    font-size: 1.1em;
	    width: 50%;
    text-align: left;
    font-weight: 200;
    margin-left: 25%;
    margin-top: -15%;
}


.alineacion{
	text-align: left !important;
}

.formulario select{
	background-color: white !important;
    border-radius: 10px !important;
    border: transparent 1px solid !important;
    color: rgba(0,0,0,.5);
    height: 40px;
}

.importe{
	text-align: center !important;
	background-color: white !important;
    border-radius: 10px !important;
    border: transparent 1px solid !important;
    height: 40px;
}

.importe::placeholder{
	color: dimgray !important;
	font-style: italic !important;
	font-size:1em !important;
}

.fecha{
	font-size: 1.3em !important;
	margin-top:0 !important;
}

.fechayhora{
	text-align: center !important;
	background-color: white !important;
    border-radius: 10px !important;
    border: transparent 1px solid !important;
    color: rgba(0,0,0,.5);
}

.botones{
	border-radius: 20px ;
    border: 2px solid #006338;
    background-color: white;
    font-weight: 600;
    color: #006338;
    margin: 0% 5%;
}

.recibo{
	width: 80% !important;
	text-align: center !important;
	background-color: white !important;
    border-radius: 10px !important;
    border: transparent 1px solid !important;
}

.recibo::placeholder{
	color: dimgray !important;
	font-style: italic !important;
	font-size:.8em !important;
}

.link{
	display: block !important;
	font-size:.8em !important;
	margin: 5% 0% !important;
}

#tarjetaTransaccion{
    width:100%;
}

/*CUENTAS*/

.cuenta {
	margin-top: 10%;
	margin-bottom: 10%;
}

.cuenta h1{
	position: absolute;
    margin-top: 18%;
    margin-left: 22%;
    font-size: 1.4em;
    text-align: center;
    color: #006338;
}

.card{
	width: 60%;
	height: auto; 
}

.cardSlide{
	position: absolute;
    width: 55%;
    height: auto;
    margin-left: 5%;
}

/*CUENTA DETALLES*/

.detalles_cuenta{
	border-top: rgba(0,0,0,0.1 ) solid;
	margin-bottom: 5%;
}

.detalles_cuenta h1{
    font-size: 1.4em;
    text-align: center;
    color: #006338;
}

.detalles_cuenta h3{
	margin-top: 0;
	color: #006338;
}

.detalles_cuenta p{
	font-size: .9em;
	text-align: center; 
	margin-top: 10%;
}

.meses{
	margin-top: 3%;
	margin-bottom: 3%;
}

.mes_cuenta{
	width: 100%;
	height: auto;
	font-size: 1.3em;
	border: none;
	background: transparent; 
}

.detalles_cuenta ul{
	list-style: none; 
	padding: 0;
}

#seleccionado{
	background-color: rgba(97,191,26,0.80);
	padding: 0;
	border-radius: 20px;
}

.acciones_cuenta{
	background-color: transparent;
	border: solid 2px rgba(0,99,56,.5);
	border-radius: 20px;
}

.acciones_cuenta:active{
	background-color: #61BF1A;
	border: solid 3px rgba(0,99,56,1);
	border-radius: 20px;
}

#boton_cuenta{
	width: 14%;
    height: 35%;
    background-color: #006338;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    margin-top: 35%;
    margin-left: 36%;
	color:whitesmoke;
	font-size: 2.5em;
	text-align: center;
	box-shadow: 3px 3px 10px 4px lightgray;
}

/*CUENTA OPCION DETALLES*/

.cuenta_opcion{
border-top: rgba(0,0,0,0.1 ) solid;
}

.cuenta_opcion h1{
    margin: 3%;
    font-size: 1.6em;
    text-align: center;
    color: #006338;
}

.cuenta_opcion h3{
	font-size: 1.3em;
    color: #61BF1a;
    text-decoration: underline;
}

.cuentaDos h1{
	position: absolute;
    margin-top: 18%;
    margin-left: 22%;
    font-size: 1.4em;
    text-align: center;
    color: #006338;
}

.cuentaDos{
	padding-top: 5%;
}

.detallesDos img{
	width: 100%;
}

.ingreso h1{
	font-size: 1em;
	text-align: left;
	color: gray;
}

.ingreso h2{
	font-size: 1.5em;
	text-align: center;
	color: #61bf1a;
}

.gasto h1{
	font-size: 1em;
	text-align: left;
	color: gray;
}

.gasto h2{
	font-size: 1.5em;
	text-align: center;
	color: #FC6D00;
}

/*TRANSACCION EXITOSA*/

.fondoTransaccion{
	margin: 15% 5%;
    width: 90%;
    height: auto;
    background-color: #ffffff;
    border-radius: 30px;
	box-shadow: 3px 3px 10px 4px lightgray;
}

.fondoTransaccion h2{
	font-size: 1.5em;
    margin-top: 5%;
}

.fondoTransaccion h1{
	font-size: 2em;
	border-bottom: solid 2px rgba(77,74,74,0.20);
}

.transaccionDetalle{
	margin-top: 5%;
}

.transaccionDetalle h1{
	text-align: left;
	margin-top:2%;
	border: none;
	font-size: 1.2em;
	color: #61BF1A;
}

.transaccionDetalle h2{
	margin-top: 2%;
    font-size: 1em;
    text-align: left;
    color: rgba(00,00,00,0.8);
}

.cuadroBeneficiario{
	
}

.cuadroBeneficiario img{
	margin: 15%;
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

.completo{
	margin: auto;
    width: 60%;
    height: auto;
    border: 2px solid rgba(0,0,0,0.20);
    border-radius: 20px;
	margin-bottom: 5%;
}

.completo h1{
	color: rgba(00,00,00,.45);
    font-size: 1.4em;
    margin-bottom: 3px;
    margin-top: 3px;
    border: none;
}

#boton_exito{
	margin-top: -15%;
    width: 30%;
    height: auto;
}

.mastercard_transaccion{
	float: left;
    border-radius: 20px;

}

.tarjeta_transaccion{
	border-top: solid 2px rgba(0,0,0,0.15);
}

#boton_cerrartransaccion{
	margin-top: -15%;
    width: 20%;
    height: auto;
    margin-left: 40%;
    cursor:pointer;
    height:-webkit-fill-available;
}

#boton_cerrartransaccion:hover{
	-webkit-filter: brightness(90%); /* Safari */
    filter: brightness(90%);
}

/*TARJETA TRANSACCION*/

#tarjetaTransaccion{
	margin-top: 5%;
	width: 60%;
	height: auto;
	
}

.menuBeneficiario{
	padding-left: 0;
}

.menuBeneficiario img{
	border-radius: 15px;
    width: 90%;
    height: auto;
}

#anadirBeneficiario{
	font-size: .96em;
    width: 90%;
    height: auto;
    border: dashed 2px rgba(00,00,00,.20);
    border-radius: 15px;
}

.detallesTransaccion h1{
	font-size: 1.2em;
    color: #006338;
    text-align: left;
    margin-top: 5%;
}

.detallesTransaccion{
	margin-top: 5%;
	border-top:2px solid rgba(0,0,0,0.20);
}

.formularioTransaccion{
	margin-left: 10%;
    text-align: left;
    margin-top: 10%;
    width: 80%;
    height: auto; 
}

.formt label{
	text-align: left;
	font-size: 1.2em;
	color:#006338;
}

.formt input{
	background-color: transparent;
    /* border: none; */
    border-top: none;
    border-bottom: 2px solid #006338;
    border-left: none;
    width: 100%;
}

.formt input::placeholder{
	color: rgba(0,0,0,0.40);
}

.formt select{
	color: rgba(00,00,00,.40);
    background-color: transparent;
    border-top: none;
    border-bottom: 2px solid #006338;
    border-left: none;
    width: 100%;
}

.formt option{
	color: rgba(0,0,0,0.70);
}

.commonBtn{
    padding: 3px 15px;
    font-size: 1.2em;
    background-color: transparent;
    border: solid 2px rgb(0,99,56);
    border-radius: 20px;
    margin-top: 10%;
}

/*TRANSACCION EXITOSA*/

.transaccionExitosa{
    position: absolute; 
    z-index: 100;
    margin-top: 25%;
    background-color: #ffffff;
}

.fondoTransaccion{
	margin: 15% 5%;
    width: 90%;
    height: auto;
    background-color: #ffffff;
    border-radius: 30px;
	box-shadow: 3px 3px 10px 4px lightgray;
}

.fondoTransaccion h2{
	font-size: 1.5em;
    margin-top: 5%;
}

.fondoTransaccion h1{
	font-size: 2em;
	border-bottom: solid 2px rgba(77,74,74,0.20);
}

.transaccionDetalle{
	margin-top: 5%;
}

.transaccionDetalle h1{
	text-align: left;
	margin-top:2%;
	border: none;
	font-size: 1.2em;
	color: #61BF1A;
}

.transaccionDetalle h2{
	margin-top: 2%;
    font-size: 1em;
    text-align: left;
    color: rgba(00,00,00,0.8);
}

.cuadroBeneficiario img{
	margin: 15%;
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

.completo{
	margin: auto;
    width: 60%;
    height: auto;
    border: 2px solid rgba(0,0,0,0.20);
    border-radius: 20px;
	margin-bottom: 5%;
}

.completo h1{
	color: rgba(00,00,00,.45);
    font-size: 1.4em;
    margin-bottom: 3px;
    margin-top: 3px;
    border: none;
}

#boton_exito{
	margin-top: -15%;
    width: 30%;
    height: auto;
}

.mastercard_transaccion{
	float: left;
    border-radius: 20px;

}

.tarjeta_transaccion{
	border-top: solid 2px rgba(0,0,0,0.15);
}

#boton_cerrartransaccion{
	margin-top: -15%;
    width: 20%;
    height: auto;
    margin-left: 40%;
}

.commonBtn:active{
	background-color: #61BF1A;
	border: solid 3px rgb(0,99,56);
	border-radius: 20px;
}