@charset "utf-8";
/* CSS Document */
*{
	font-family:Calibri, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body{
	background-color: rgba(255,255,255,0.05);
}

#homeGrid{
    height:-webkit-fill-available;
    min-height:670px;
    background-image:linear-gradient(to right, rgb(0,0,0) 0%, rgb(0,0,0) 100%);
    background-color: black;
}

#menuGrid{
    background-color: rgba(255,255,255,0.05);
    margin-top: -20px;
    padding-top: 20px;
}

#cuentaGrid{
    background-color: rgba(255,255,255,0.1);
    margin-top: -20px;
    padding-top: 20px;
}

.logoStGeorge{
	width:70%;
	height: auto;
	margin-top: 10%;
}

.menuHamburgesa:hover{
    -webkit-filter: brightness(120%); /* Safari */
    filter: brightness(120%);
}

.km-button{
    border:none !important;
}

#usuario{
	background-color:transparent;
	border-bottom: solid #fff 3px;
	width: 75%;
	color: white;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	margin-top: 60%;
    margin-left: 10px;
    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -ms-input--animation-duration: 7s;
    font-size: 1.5em;
}


 #usuario::placeholder{
	color:rgba(84,90,83,0.82);
}

.user{
	width: 10%;
	height: auto;
}

#botonIngresar{
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-input--animation-duration: 3s;
}

.botonIngresar{
	width: 100%;
	height: 80px;
	/**background-color: #00693E;*/
    background-color: rgba(0, 105, 62, 0.95);
	position: absolute; 
	bottom:0px;
    font-display: center;
}

.botonIngresar h1{
	text-align: center;
    text-transform:uppercase;
    letter-spacing: 2px;
	color: whitesmoke;
    line-height: 30px;
    font-family: inherit;
    font-size: 1.8em;
    font-weight:bold;
}


/*PERFIL AUTENTICAR*/

.panama{
	background-color: seagreen;
	width: 100%;
	height: 50%;
}

.panama .back{
	height: auto;
    width: 10%;
    float: right;
    margin-top: 3%;
    margin-right: 5%;
}

.bienvenida{
    margin-bottom:20px;
}

.bienvenida h1{
	font-size: 2em;
	text-align: center;
	color: whitesmoke;
	z-index: 100;
	margin: 0 !important;
	padding-top: 3%;
}


.profile{
	border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
}

.nombre_usuario {
	font-size: 1.2em !important;
	color: whitesmoke !important;
	text-align: center !important;
	
}

.password{
	display: block;

}


.botonPerfil{
	width: 50%;
	height: 3%;
	border: #272323 solid;
	border-radius: 25px;
    padding: 1px 15px;
    color: #333;
}

.botonPerfil:hover{
	color: #888;
}

div{
	display: block;
}


#password{
	background-color:transparent;
	border-bottom: solid #00693E 3px;
	width: 75%;
	color: darkslategray;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}

/*MENU PRINCIPAL*/

.logoStGeorgeMenu{
	width: 100%;
	height: auto;
	margin-top: 5%;
}

.nombreCliente{
	font-size: 1.5em !important;
    font-weight:bold !important;
	color: #006838 !important;
	text-align: center !important;
}

.imageMenu{
    background-color: #fff;
    border-radius: 10%;
    padding: 10px;
    width: 90%;
    cursor: pointer;
}

.imageMenu:hover{
    -webkit-filter: brightness(105%); /* Safari */
    filter: brightness(105%);
}

.textMenu{

}

#balance img{
	margin: auto;
	width: 100%;
	height: auto;
}

.menuPrincipal{
	padding: 0 !important;
}

.menuPrincipal li{
	list-style: none;
	width: 80%;
	height: 80%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px 4px lightgray;
	color: #006338;
	margin: auto;
	margin-bottom: 15%; 
	margin-top: 15%;
	padding-bottom: 5%;
}

.menuPrincipal img{
	width: 80%;
	height: auto; 
}

#menuPrincipal{
	width: 100%;
	height: auto; 
	margin: auto;
    margin-top:0px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px 0px;
}

/*MENU TARJETAS*/


.menuTarjetas{
	padding: 0 !important;
}

.menuTarjetas li{
	list-style: none;
	width: 80%;
	height: 50px;
	background-color: rgba(97,191,26,0.70);
	border-radius: 20px;
	box-shadow: 3px 3px 10px 4px lightgray;
	color: white;
	margin: auto;
	margin-bottom: 10%; 
	margin-top: 15%;
}

.menuTarjetas li p{
	padding-top:5%;
	font-size: 1.2em;
}

.menuTarjetas img{
	float: left;
    border-radius: 20px;
    height: auto; 
}

#menuTarjetas{
	width: 100%;
	height: auto; 
	margin: auto;
}


/*DETALLES*/

.detalles{
	width: 100%;
	height: auto; 
}

.detalles img{
	width: 100%;
	height: auto;
	padding-bottom: 5%;
}

.movimientosBancarios{
	width: 90%;
    height: auto;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    background-color: rgba(73,67,68,1.00);
    color: whitesmoke;
    text-align: center;
    align-content: center;
	display: block;
	position: relative;
	box-shadow: 0px 4px 10px 4px lightgray;
	z-index: 2;
}

.tiempos{
	margin-top: 5%;
	font-weight: 300;
	display: inline-block;
    cursor:pointer;
    padding: 2px 15px;
}

.tiempos.active{
	border: solid 1.5px rgba(97,191,26,1);
    border-radius: 20px;
}

.tiempos:hover{
    border: solid 1.5px rgba(97,191,26,1);
    border-radius: 20px;
}

#movimientos{
	font-size: 1.4em;
	margin-top: 15%;
	font-weight: 300;
    color:white;
}

.cuentaRow{
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
}

.detalleTarjetas{
	padding: 0 !important;
}

.detalleTarjetas li{
	list-style: none;
	width: 90%;
	height: 50px;
	background-color: rgba(0,0,0,0.07);
	border-radius: 5px;
	box-shadow: 3px 3px 10px 4px lightgray;
	margin: auto; 
	margin-top:5%;
    cursor:pointer;
}

.detalleTarjetas li:hover{
    background-color: rgba(97,191,26,0.70);
    color: white;
}

.detalleTarjetas li span{
	line-height: 50px;
	font-size: 1.2em;
    font-weight:bold;
}

.detalleTarjetas img{
	float: left;
    border-radius:5px;
    height: auto; 
}

#detalleTarjetas{
	width: 100%;
	height: auto; 
	margin: auto;
}

.compras{
	width: 90%;
    height: auto;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    padding: 20px 0px;
    background-color: white;
    color: rgba(47,47,47,1.00);
    text-align: center;
    align-content: center;
	display: block;
	font-size: .9em;
	box-shadow: 0px 6px 10px 4px lightgray;
	z-index:2;
}

.compras p{
    font-size:1.2em;
}

.tiempos p{
	margin: 8% 0%;
}

.selector{
	width: 70%;
    height: 100%;
    position: absolute;
    border: solid 1.5px rgba(97,191,26,1);
    border-radius: 20px;
    margin: auto;
}

#rectanguloUno{
	margin: 0% 10%;
	margin-top: -3%;
	width: 80%;
	height: 200px;
	background-color: rgba(116,187,32,0.36);
}

#rectanguloDos{
	margin: 0% 15%;
    margin-top: -52%;
    z-index: 1;
    width: 70%;
    height: 200px;
    background-color: rgba(116,187,32,0.18);
    position: absolute;
}

#boton_ampliar{
	width: 20%;
    height: 40%;
    background-color: #006338;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    margin-top: 30%;
    margin-left: 36%;
	color:whitesmoke;
	font-size: 3.5em;
	text-align: center;
	box-shadow: 3px 3px 10px 4px lightgray;
    cursor:pointer;
}

#boton_ampliar:hover{
    background-color: #74bb20;
}

/*FORMULARIO TRANSFERENCIA*/

.formulario{
	padding-bottom: 3%;
    border-bottom: thin solid lightgray;
    color: #006338;
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 3%;
}

.formulario:last-child{
	padding-bottom: 3%;
    border-bottom: thin solid transparent;
    color: #006338;
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 3%;
}

.nombreSeleccion{
	font-size: 1.7em;
    color: #61BF1A;
    text-align: center;
    margin-top: 8%;
    font-weight: 300;
}

.principal img{
	width: 25%;
	height: auto;
	margin: 0% 37.5%;
}

.seleccionCuentas{
	text-align: left;
	font-weight: 200;
}

.alineacion{
	text-align: right;
}

.formulario select{
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.importe{
	text-align: center;
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.importe::placeholder{
	color: dimgray;
	font-style: italic;
	font-size:.8em;
}

.fecha{
	font-size: 1.3em;
	margin-top:0;
}

.fechayhora{
	text-align: center;
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.botones{
	border-radius: 20px;
    border: 2px solid;
    background-color: white;
    font-weight: 600;
}

.recibo{
	width: 80%;
	text-align: center;
	background-color: white;
    border-radius: 10px;
    border: transparent 1px solid;
}

.recibo::placeholder{
	color: dimgray;
	font-style: italic;
	font-size:.8em;
}

.link{
	display: block;
	font-size:.8em;
	margin: 5% 0%;
}

#usuario::-webkit-input-placeholder {
  color: white;
}
#usuario::-moz-placeholder {
  color: white;
}
#usuario:-ms-input-placeholder {
  color: white;
}
#usuario:-moz-placeholder {
  color: white;
}

/*menu hamburguesa*/
.hamburguesaTop{

	width: 100%;
	height: 50%;
}

.hamburguesaTop img:nth-child(1){
	height: auto;
    width: 10%;
    float: right;
    margin-top: 3%;
    margin-right: 5%;
}

.menuH img{
	width: 15% !important;
	height: auto;
	display: inline-block;
}


.menuH h1{
	margin-left: 10% !important;
    font-size: 1.3em;
    color: #006338;
    display: inline-block;
}

.menuH h1:hover{
    color: #7ab63a;
}

.menuH ul{
	list-style: none;
	display: block;
	padding: 0;
}

.menuH li{
    width: 100%;
    height: auto; 
	vertical-align: middle;
    margin: 5% 0%;
}

.menuH{
	width: 95%;
	border-bottom: 2px dashed rgba(0,0,0,0.20);
    padding: 10px 15px;
}

.menuH:last-child{
	border-bottom: transparent solid 2px; 
}
